

body{
margin: 0;
padding: 0;
box-sizing:border-box;
background-color: rgb(5, 11, 27);
}

.container{
    display: flex;
    max-width: 1200px;
    margin:0 auto;
    padding:0 20px;
    margin-left: 25px;
}
/* Header Section */
.main-header{
    display: flex;
    padding:20px 0;
    opacity: 0.9;
    background: linear-gradient(to top,rgba(255,255,255,0)0%, rgb(31, 31, 31)70%);
}
.main-header .container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    display: flex;
    font-size: 24px;
    font-weight:bold;
    color:#ffffff;
    transition: transform 0.3s ease;
      font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.main-nav a{
    color: #ffffff;
    text-decoration: none;
 transition: color 0.75s ease;
 font-weight: bold;
 margin-left: 40px;

}

.main-nav {
      margin-left: 290px;
      font-size: 15px;
      font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.main-nav a:hover{
    color: #40da8d;
    border-bottom: 2px solid #40da8d;
    padding-bottom: 5px;
}
.main-nav a:focus{
    outline: 2px solid #40da8d;
    outline-offset: 4px;
}
.features{
    display: grid;

}
.credits{
    display: flex;

}
.about{
    display: flex;

   
}
/* ==================================================================
*/
.hero-img{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://tse2.mm.bing.net/th/id/OIP.dTIcGbHRMDvDBlsyFR3ynAHaE8?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    height: 50%;
background-position: center;
background-size:cover;
position: relative;
padding: 200px;
margin-top: -70px;
opacity: 0.9;
z-index: -1;
}

.hero-text{
    text-align: center;
    color: whitesmoke;
     font-family: "Poppins", sans-serif;
     font-size: 25px;
     
}

/*==================================================================*/
.about-header{
    text-align: center;
    color: whitesmoke;
     font-family: "Poppins", sans-serif;
     font-size: 25px;
}

.about{
    padding:50px 0;
    border-radius: 12px;
    background-color: rgb(2, 11, 48);
    margin: 25px;
}
.about-content{
    display: flex;
    align-items: center;
    gap:60px;
    flex-direction: row-reverse;
}
.about-text{
    flex:1;
    color: whitesmoke;
}
.about-image{
    flex:1;
}
.about-text h2{
     color: whitesmoke;
     font-family: "Poppins", sans-serif;
}
.join-btn{
background-color:#0b1a44;
color:#40da8d;
border:#40da8d;
padding:12px 24px;
border-radius:8px;
font-weight:600;
cursor:pointer;
float: left;
}
.community-image img {
    width:100%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    height: auto;
    transition: transform 0.3s ease;
}

/*==================================================================*/

.card-container{
   display: flex;
   flex-wrap: wrap;
   justify-content:space-between;
   gap: 25px;
   margin: 25px;
}


.card{
   border-radius: 12px;
   box-shadow: 0 6px 18px rgba(0,0,0,0.35);
   padding: 0 auto;
   text-decoration: none;
   overflow:hidden;
   transition: transform 0.3s ease;
      flex: 1;
   background-color:#1a1a28;
   text-align: center;
   margin: 10px;
}
.card:hover{
   transform: translateY(-12px);
   box-shadow: 0 18px 40px rgba(0, 174, 255, 0.25) ;
}
.card-image{
   width: 100%;
   height: 250px;
   object-fit: cover;
}
.card-content{
   padding: 25px;
}
.card-title{
   color: white;
   font-size: 27px;
   margin-top: -15px;
   font-family: "Poppins", sans-serif;
}
.card-description{
   color:#b0b0b0;
   font-size: 14px;
   line-height: 1.6;
   font-family: "Poppins", sans-serif;
margin-top: -15px;
}


/*==================================================================*/